extends layout

block content
  h1= title
  p Bem vindo ao #{title}
  form(action="/", method="POST")
    input(type="email", name="lead_email", placeholder="Email")
    button(type="submit") Enviar
  if leads
    h1 Leads
    for lead in leads
      p #{lead.email}