doctype html
html(lang='pt-br')
  include common/head.pug 
  +head("Inicial MVP")
  body
    header
      include common/navbar.pug
      +navbar(user)
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md5
            h1.mb-3 Landing Page Mínima
            p.lead Este tutorial ensina como construir uma aplicação web com NodeJS.
            p.lead.mb-4 Aprenda como lançar uma landing page e começa a coletar leads.
            form(action="/", method="POST")
              .input-group.mb-3
                input(type="email", name="lead_email", placeholder="Email").form-control
                .input-group-append
                  button(type="submit").btn.btn-primary Enviar
    include common/footer.pug
    +footer()
    script (src='/javascript/leads.js')