doctype html
html(lang='pt-br')
  include ../common/head.pug 
  +head("Leads")
  body
    header
      include ../common/navbar.pug
      +navbar()
      .container
        .row.align-items-center
          .col-md-6.order-md-1.text-center.text-md-left.pr-md5
            h1 Lead
            table.table
              thead
                tr
                  th(scop="col") Email
                  th(scope="col") Editar
                  th(scope="col") Deletar
                tr
              tbody
                tr(id=lead.id)
                  td
                    span #{lead.email}
                  td
                    a(href="/lead/" + lead.id + "/edit") Editar
                  td
                    form(action="/lead/" + lead.id + "/delete", method="POST")
                    button(type="submit").btn.btn-primary Deletar
    include ../common/footer.pug
    +footer()
    script (src='/javascript/leads.js')